<!--<h1>Welcome to your Sinatra App!</h1>
<p>Define some routes in app.rb</p>-->

<h1>Currency pairs</h1>


<ul>
<% @symbols.each do |a_symbol| %> <!--I used the .keys method on this line-->
<li><a href="/<%=a_symbol%>">Convert 1 <%=a_symbol%> to <%=a_symbol%></a>
</li>
<% end %>
</ul>
